.resultsList {
  position: absolute;
  z-index: 1000;
  border: 2px solid #fff;
  border-radius: 5px;
  list-style: none;
  overflow-y: auto;
  max-height: 10rem;
  padding: 0;
  width: 21rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 0.5rem;
  backdrop-filter: blur(8px);
  // animation: growDown 300ms ease-in-out;
  // forwards {
  //   transform-origin: top center;
  // }
}

.resultsItem {
  cursor: pointer;
  display: flexbox;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
}
.resultsItem:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.results {
  display: grid;
  grid-template-columns: 0.5fr 2.5fr;
  column-gap: 0.5rem;
}
// @keyframes growDown {
//   0% {
//     transform: scaleY(8);
//   }
//   80% {
//     transform: scaleY(1.1);
//   }
//   100% {
//     transform: scaleY(1);
//   }
// }
