.body {
  display: block;
}
@media only screen and (max-width: 639px) {
  .dashboard {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "chart"
      "chart"
      "chart"
      "chart"
      "overview"
      "details"
      "details";
  }
}
@media only screen and (min-width: 640px) {
  .dashboard {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header  header"
      "chart  chart   overview"
      "chart  chart   details"
      "chart  chart   details"
      "chart  chart   details";
  }
}

.header {
  grid-area: header;
  margin: 1rem;
}
.chart {
  grid-area: chart;
  margin: 1rem;
}
.overview {
  grid-area: overview;
  margin: 1rem;
}
.details {
  grid-area: details;
  margin: 1rem;
}
@media only screen and (max-width: 639px) {
  .header {
    grid-area: header;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .chart {
    grid-area: chart;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .overview {
    grid-area: overview;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .details {
    grid-area: details;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
