.dashboard {
  display: grid;
  // height: 100vh;
  // width: 100vw;
  margin: 2rem;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "header header  header"
    "chart  chart   overview"
    "chart  chart   details"
    "chart  chart   details"
    "chart  chart   details";
}
@media only screen and (max-width: 640px) {
  .dashboard {
    display: grid;
    height: 100%;
    width: 100%;
    margin: 1rem;
    grid-gap: 1rem;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "chart"
      "chart"
      "chart"
      "chart"
      "overview"
      "details"
      "details";
  }
}

.dashboard-header {
  grid-area: header;
}
.dashboard-chart {
  grid-area: chart;
}
.dashboard-overview {
  grid-area: overview;
}
.dashboard-details {
  grid-area: details;
}
// @media only screen and (max-width: 639px) {
//   .dashboard-header {
//     grid-area: header;
//   }
//   .dashboard-chart {
//     grid-area: chart;
//   }
//   .dashboard-overview {
//     grid-area: overview;
//   }
//   .dashboard-details {
//     grid-area: details;
//   }
// }
