.overview {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "price change";
}
.overview-header {
  grid-area: header;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0;
}
.overview-price {
  grid-area: price;
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.overview-change {
  grid-area: change;
  display: flex;
  justify-content: center;
  align-items: center;
}
.green {
  background-color: rgb(63, 195, 128);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 25px;
}
.green:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.red {
  background-color: rgb(214, 69, 65);
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 5px;
  font-size: 25px;
}
.red:hover {
  cursor: pointer;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.price {
  font-size: 25px;
}
.currency {
  font-size: 16px;
  font-weight: 300;
  display: flex;
}
@media only screen and (min-width: 1920px) {
  .overview-header {
    grid-area: header;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.7);
  }
  .overview-change {
    grid-area: change;
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 25px;
    column-gap: 0.5rem;
  }
  .price {
    font-size: 25px;
  }
  .currency {
    font-size: 20px;
  }
}
