::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.searchbar {
  display: grid;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: 20rem;
  height: auto;
  padding: 0.5rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  overflow: hidden;
  align-items: center;
  grid-template-areas: "input  icon  search";
  grid-template-columns: 5fr 0.5fr 0.5fr;
  margin-bottom: 1rem;
}
.searchbar:hover {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.searchbar:focus {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.input:focus {
  border: none;
  outline: none;
}

.input {
  grid-area: input;
  margin-left: 1rem;
  width: 85%;
  height: fit-content;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.clear-icon {
  font-size: 20px;
}
.search {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.search-icon {
  font-size: 20px;
}
