::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
::-moz-placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.searchbar-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  column-gap: 0.7rem;
}
.searchbar {
  grid-area: searchbar;
  display: grid;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: 18rem;
  height: auto;
  padding: 0.3rem;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  overflow: hidden;
  align-items: center;
  grid-template-areas: "input  icon  search";
  grid-template-columns: 5fr 0.5fr 0.5fr;
  column-gap: 0.5rem;
}
.searchbar:focus {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.spinner {
  display: flex;
  align-content: flex-end;
  justify-content: center;
  height: 2em;
  width: auto;
  text-align: center;
}
.input:focus {
  border: none;
  outline: none;
}

.input {
  grid-area: input;
  margin-left: 1rem;
  width: 95%;
  height: 2.2rem;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.icon {
  grid-area: icon;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.clear-icon {
  height: 1.2rem;
  filter: invert(1);
}
.search {
  grid-area: search;
  display: flex;
  height: 2.2rem;
  width: 2.2rem;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 0.2rem;
  border: 2px solid rgba(255, 255, 255, 0.1);
}
.search:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.search-icon {
  height: 1.2rem;
  filter: invert(1);
}
