.quoteDetailsList {
  display: flex;
  width: 100%;
  column-gap: 1rem;
}
.left-column {
  width: 50%;
}
.quoteDetail {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.quoteItem {
  display: flex;
  justify-content: flex-start;
  width: 50%;
}
.quoteStat {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.right-column {
  width: 50%;
}
.details-container {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100%;
}
