.card-news {
  position: relative;
  border-radius: 5px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}
.card-news:hover {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
.news-content {
  display: grid;
  grid-template-areas:
    "image  headline"
    "image  link";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 3fr 1fr;
  column-gap: 1rem;
}
.news-headline {
  grid-area: headline;
  font-size: 15px;
}
.news-image {
  grid-area: image;
  height: 8rem;
  width: 8rem;
  border-radius: 5px;
  object-fit: cover;
}
.link {
  grid-area: link;
}
