* {
  box-sizing: border-box;
  outline: none;
}
body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(
    135deg,
    rgba(9, 32, 63, 1) 0%,
    rgba(83, 120, 149, 1) 100%
  );
}
//card
.card {
  border-radius: 5px;
  padding: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.05);
}
.card:hover {
  border: 2px solid rgba(255, 255, 255, 0.4);
}
// scrollbar

body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: transparent;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}
ul::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

ul::-webkit-scrollbar-track {
  background-color: transparent;
  /* color of the tracking area */
}

ul::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
// background: linear-gradient(
//   135deg,
//   rgba(9, 32, 63, 1) 0%,
//   rgba(83, 120, 149, 1) 100%
// );
// padding: 2rem;
// width: 100vh;
// height: 100vh;
// background-size: 100% 100%;
// overflow: overlay;
